<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      <h3>{{ message }}</h3>
      {{ color }}
      {{ name }}
      <button v-on:click="reverseMessage">Reverse Message</button>
      <p><input v-model="name"></p>
      <p><button v-on:click="clickHere">Click Here if You Dare</button></p>
      <p v-if="secret">Secret Message!!!</p>
      <button v-on:click="toggle">Click for Secret Message</button>
      <hr>
      <div v-for="fruit in fruits">
        {{ fruit }}
      </div>
      <div>
        <input type="text" v-model="newFruit"><button v-on:click="addNewFruit">Add Fruit</button>
      </div>
      <hr>
      <hr>
      <div>
      <div v-for="todo in todos">
        <p>{{ todo.title }}</p>
      </div>
      <div>
        <button v-on:click="loadTodos">Load Todos</button>
      </div>
    </div>
  </body>
</html>